@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebBanSua.Data.Product

@{
    ViewData["Title"] = "SuaSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa sản phẩm</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaSanPham" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Mã sản phẩm</label>
                <input asp-for="ProductId" class="form-control" readonly />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tên sản phẩm</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Loại sản phẩm</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryList"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Thương hiệu</label>
                <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandList"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Giá</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Hàng tồn</label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <div class="form-group">
                    <label>Ảnh hiện tại:</label><br />
                    <img src="~/hinh/Products/@Model.ImageUrl" alt="Ảnh hiện tại" width="150" height="150" style="object-fit:cover; border:1px solid #ccc;" />
                </div>
            }
            <div class="form-group">
                <label>Hình ảnh mới (nếu muốn thay)</label>
                <input type="file" name="imageUrl" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DanhMucSanPham" >Quay lại</a>
</div>

