<form asp-action="Search" asp-controller="Products" class="input-group w-100 mx-auto d-flex">
    <input type="search" class="form-control p-3" placeholder="Tìm sản phẩm" aria-describedby="search-icon-1" name="query">
    <button type="submit" class="btn btn-outline-secondary">
        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search" ></i></span>
    </button>
</form>